* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 30px;
  padding: 10px 0px;
}
h2 {
  font-size: 26px;
  font-style: italic;
  font-weight: lighter;
  margin: 0 10rem;
}

p {
  font-size: 18px;
  padding: 10px 0;
}

button {
  padding: 8px 22px;
  margin-top: 1rem;
  background: #3882f6;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
}

/* Header */
.header {
  background: #1f2937;
  height: 100vh;
}
/* NAVBAR  */
.navbar {
  color: #ffffff;
  display: flex;
  justify-content: space-around;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
}

.navbar-links a {
  margin: 10px 20px;
}

/* About  */
.about {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.content {
  text-align: center;
}
.content h1 {
  padding: 2.5rem;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.cards p {
  margin: 0 5rem;
}

.quote {
  padding: 6rem 0;
  background: #e5e7eb;
}

.signup {
  padding: 4rem;
}

.bar {
  background: #3882f6;
  margin: 0 8rem;
  padding: 2rem 0;
  border-radius: 0.5rem;
  color: #fff;
  display: flex;
  justify-content: space-around;
}
.bar button {
  border: #e5e7eb 1px solid;
}

footer {
  background: #1f2937;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}
